body{ 
    background-color: #f4becc;
}

hr { 
    border-style: none;
    border-top-style: dotted;
    border-color: #fdfee9;
    border-width: 5px;
    width: 5%;
                 
}

img {
    height: 250px;
    width: 250px;
}

h1 {
    color:#AF5014;
    font-family: "fredoka one", sans-serif;
    
    
}
h3 {
    color: #AF5014;
    font-family: "Fredoka One", sans-serif;
   
}

